# Ignore files And directory
**/.idea
.idea
.idea/*
._.DS_Store
.DS_Store
**/nbproject

# Ignore gulp npm modules
node_modules

# Ignore sensitive information
# web/sites/default/settings.local.php
# web/sites/default/settings.php

# Ignore Drupal's file directory
# /web/sites/default/files/
# /web/sites/default/config/active
# /web/sites/default/config/ignore

# Ignore development settings
# development.services.yml